<a href="https://colab.research.google.com/github/Fnoor68/EDGE_Django/blob/main/EDGE_Variable_Number.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Variable Declaration and Operations**

In [1]:
# Declare variables
name = "John"
age = 25
height = 5.9
is_student = True

# Print variable types
print("Name:", name, "Type:", type(name))
print("Age:", age, "Type:", type(age))
print("Height:", height, "Type:", type(height))
print("Is Student:", is_student, "Type:", type(is_student))

# Perform some operations
age_in_5_years = age + 5
height_in_cm = height * 100
is_eligible = age > 18 and is_student

print("Age in 5 years:", age_in_5_years)
print("Height in cm:", height_in_cm)
print("Eligibility:", is_eligible)

Name: John Type: <class 'str'>
Age: 25 Type: <class 'int'>
Height: 5.9 Type: <class 'float'>
Is Student: True Type: <class 'bool'>
Age in 5 years: 30
Height in cm: 590.0
Eligibility: True

# **String Manipulations**

In [2]:
# String concatenation and methods
greeting = "Hello"
name = "Alice"

full_greeting = greeting + ", " + name + "!"
print(full_greeting)

# String methods
print("Uppercase:", full_greeting.upper())
print("Lowercase:", full_greeting.lower())
print("Replace:", full_greeting.replace("Alice", "Bob"))
print("Length:", len(full_greeting))

Hello, Alice!
Uppercase: HELLO, ALICE!
Lowercase: hello, alice!
Replace: Hello, Bob!
Length: 13

# **Numbers**

In [3]:
# Arithmetic operations
a = 10
b = 3

print("Addition:", a + b)
print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)
print("Floor Division:", a // b)
print("Modulus:", a % b)
print("Exponentiation:", a ** b)

# Built-in functions
import math

print("Square root of 16:", math.sqrt(16))
print("Absolute value of -5:", abs(-5))
print("Factorial of 5:", math.factorial(5))

Addition: 13
Subtraction: 7
Multiplication: 30
Division: 3.3333333333333335
Floor Division: 3
Modulus: 1
Exponentiation: 1000
Square root of 16: 4.0
Absolute value of -5: 5
Factorial of 5: 120

# **Data Types Practice**

In [4]:
# List
fruits = ["apple", "banana", "cherry"]
print("Fruits list:", fruits)
print("First fruit:", fruits[0])

# Tuple
coordinates = (10.5, 20.3)
print("Coordinates tuple:", coordinates)

# Dictionary
person = {"name": "Bob", "age": 30, "city": "New York"}
print("Person dictionary:", person)
print("Name:", person["name"])

# Set
unique_numbers = {1, 2, 3, 3, 2}
print("Unique numbers set:", unique_numbers)

Fruits list: ['apple', 'banana', 'cherry']
First fruit: apple
Coordinates tuple: (10.5, 20.3)
Person dictionary: {'name': 'Bob', 'age': 30, 'city': 'New York'}
Name: Bob
Unique numbers set: {1, 2, 3}

# **Conditional Statements**

In [5]:
# If-else example
num = 15

if num % 2 == 0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

15 is odd

# **Loops with Data Types**

In [6]:
# For loop with a list
for fruit in fruits:
    print("Fruit:", fruit)

# While loop
count = 5
while count > 0:
    print("Count:", count)
    count -= 1

Fruit: apple
Fruit: banana
Fruit: cherry
Count: 5
Count: 4
Count: 3
Count: 2
Count: 1

# **Type Conversion**

In [7]:
# Type casting
num_str = "100"
num_int = int(num_str)
print("String to Integer:", num_int, "Type:", type(num_int))

num_float = float(num_int)
print("Integer to Float:", num_float, "Type:", type(num_float))

num_to_str = str(num_float)
print("Float to String:", num_to_str, "Type:", type(num_to_str))

String to Integer: 100 Type: <class 'int'>
Integer to Float: 100.0 Type: <class 'float'>
Float to String: 100.0 Type: <class 'str'>