<a href="https://colab.research.google.com/github/Fnoor68/EDGE_Django/blob/main/List_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a List:

In [ ]:
mylist = ['Gazi','Md.','Noor','Hossain']
print(mylist)

['Gazi', 'Md.', 'Noor', 'Hossain']

Using the list() constructor

In [ ]:
thislist= list(('Gazi','Md.','Noor','Hossain'))

print(thislist)

['Gazi', 'Md.', 'Noor', 'Hossain']

Show 3rd item of the list:

In [ ]:
thislist= list(('Gazi','Md.','Noor','Hossain'))

print(thislist[2])

Noor

Lists allow duplicate values:

In [ ]:
thislist = ['Gazi','Md.','Noor','Hossain','Noor', 'Hossain']
print(thislist)

['Gazi', 'Md.', 'Noor', 'Hossain', 'Noor', 'Hossain']

Print the number of items in the list:

In [ ]:
thislist= list(('Gazi','Md.','Noor','Hossain'))

print(len(thislist))

4

String, int and boolean data types:

In [ ]:
list1 = ['Gazi','Md.','Noor','Hossain']
list2 = [4, 3, 6, 9]
list3 = [True, False, True]

print(list1)
print(list2)
print(list3)

['Gazi', 'Md.', 'Noor', 'Hossain']
[4, 3, 6, 9]
[True, False, True]

A list with strings, integers and boolean values:

In [ ]:
list1 = ["Noor", True, 40, 3.27]

print(list1)

['Noor', True, 40, 3.27]

What is the data type of a list?

In [ ]:
mylist = ['Gazi','Md.','Noor','Hossain']
print(type(mylist))

<class 'list'>

In [ ]:
thislist =['Gazi','Md.','Noor','Hossain']
print(thislist[-1])

Hossain

In [ ]:
mylist = ["apple", "banana", "cherry", "mango"]

a = "EDGE Students are from different Institutions not only from MBSTU"

print("\n1) This is String Split: Letter by letter up to index 4\n")
for i in a[:5]:
  print(i)

print("\n2) After String Split, now it a list. See all")

b = a.split(" ")
for w in b:
  print(w)

print("\n3) Printing index 2 to 4 in uppercase")

c = b[2:5]
for sw in c:
  print(sw.upper())

1) This is String Split: Letter by letter up to index 4

E
D
G
E


2) After String Split, now it a list. See all
EDGE
Students
are
from
different
Institutions
not
only
from
MBSTU

3) Printing index 2 to 4 in uppercase
ARE
FROM
DIFFERENT